/* ==== HEADER ==== */
header {
  font-family: var(--secondary-font);
  background-color: var(--card-bcg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding: 0 4rem;
  gap: 4rem;
}
/* Logo */
.header-logo {
  font-family: var(--logo-font);
  font-size: 3.2rem;
  color: var(--text-color);
  font-weight: 700;
}
.logo-mid {
  color: var(--primary-color);
}
/* Navigation */
.nav-container {
  display: flex;
  gap: 4rem;
  align-items: center;
}
.listen-btn {
  font-size: 2rem;
  background-color: var(--primary-color);
  padding: 0.8rem 3.2rem;
  border-radius: 0.5rem;
  transition-duration: var(--transition-duration);
}
.listen-btn:hover {
  background-color: var(--primary-hover);
  cursor: pointer;
}
nav {
  display: flex;
  gap: 4rem;
  font-size: 1.6rem;
}
nav a {
  border-bottom: 1px solid transparent;
  padding: 0.8rem 0;
  transition-duration: var(--transition-duration);
}
nav a:hover {
  cursor: pointer;
  color: var(--text-hover);
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--text-hover);
}
.hamburger-menu {
  display: none;
  color: var(--text-color);
}
/* ==== HERO ==== */
.hero-container {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../bilder/ting-paa-gang-gif.gif);
  width: 100%;
  height: calc(100vh - 10rem);
  background-repeat: none;
  background-size: cover;
  font-family: var(--logo-font);
  font-size: 3.2rem;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 11rem 0;
}
.hero-top,
.hero-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
#hero-logo {
  font-size: 4.8rem;
  font-weight: 700;
}
#hero-description {
  color: var(--secondary-text-color);
  font-size: 2.4rem;
  font-weight: 500;
}
.hero-bottom .spotify-btn {
  padding: 1.6rem 4rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  border: 1px solid #1ed760;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 2.4rem;
}
.spotify-btn:hover i {
  display: none;
}
.spotify-btn:hover {
  background-color: #1ed760;
  color: black;
  transition-duration: var(--transition-duration);
}
.hero-bottom i {
  color: #1ed760;
}
.next-concert a {
  padding: 0.8rem 3.2rem;
  font-size: 2.4rem;
  background-color: #493b20;
  color: var(--text-hover);
  border-radius: 0.5rem;
  border: 1px solid var(--text-hover);
}
.next-concert a:hover {
  background-color: var(--text-hover);
  color: black;
}
/* ==== HEADINGS ==== */
.section-heading {
  font-size: 3.2rem;
  margin-bottom: 4rem;
}
.hidden {
  display: none;
}
.active {
  cursor: pointer;
  color: var(--text-hover);
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--text-hover);
}
/* KOMMER SNART SIDE */
.coming-soon {
  text-align: center;
  padding: 8rem 0;
}
.coming-soon h1 {
  font-size: 4.8rem;
}
.coming-soon p {
  font-size: 3.2rem;
}
/* ==== FOOTER ==== */
footer {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  padding: 8rem;
}
