@import url(css/reset.css);
@import url(css/variables.css);
@import url(css/components.css);
@import url(css/media-queries.css);

body {
  background-color: var(--main-bcg);
  color: var(--text-color);
}
main {
  font-family: var(--main-font);
}
